/*Footer*/

footer {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 1rem;
    position: fixed;
    width: clamp(300px, 100%, 500px);
    z-index: 3;
  }
  .navigation-footer {
    background-color: var(--orange-app);
    height: 4.5rem;
    border-radius: 50px;
    width: clamp(315px, 80% 400px);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 25px;
    border: 0.1rem solid var(--blue-app);
    z-index: 2;
  }
  
  .navItem {
    margin: 2.1rem;
    color: var(--blue-app);
    font-size: 1.5rem;
    background-color: var(--orange-app);
    border: solid 0.8rem var(--orange-app);
    border-radius: 50px;
  }
  .active {
    background-color: var(--white-app);
    border: solid var(--white-app) 0.8rem;
    border-radius: 50px;
  }
  
  /*Footer*/
  